.jumbotron{
	margin-bottom: 0;
}
.navbar{
	padding-left: 100px;
}

.form-control{
	border-radius: 15px;
}
.panela{
	margin-right: 10px;
	text-decoration: none;
	color: #333;
}
.panela:hover{
	text-decoration: none;
	color: #abc;
}
.alert{
	margin-bottom: 5px;
}