<include file="Public/head" />
<title>{$blog[title]}</title>
<!-- 栅格系统 -->
<div class="container-fluid container">

	<div class="row">
		<div class="col-md-9">
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{$blog.title}</h3>
				</div>
				<div class="panel-body">
					<div class="text-right">
						<span class="glyphicon glyphicon-folder-open" aria-hidden="true">
							<a class="panela" href="#">{$cate[cate_name]}</a>
						</span>
						<span class="glyphicon glyphicon-tags" aria-hidden="true">
							<a class="panela" href="#">{$blog[label]}</a>
						</span>
						author:&nbsp;<strong>{$blog[author]}</strong>&nbsp;
						发布时间:&nbsp;{$blog[add_time]|date="Y-m-d H:i:s",###}
					</div>
					{$blog[content]|html_entity_decode}
				</div>
			</div>

			<!--PC和WAP自适应版-->
			<div id="SOHUCS" sid="<?php echo md5($_SERVER['PATH_INFO']); ?>" ></div> 
			<script type="text/javascript"> 
			(function(){ 
			var appid = 'cysVR682P'; 
			var conf = '51adf3e2e13f96901ab93e7776f195c4'; 
			var width = window.innerWidth || document.documentElement.clientWidth; 
			if (width < 960) { 
			window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); 
			</script>

		</div>

		<include file="Public/right" />
	</div>
</div>