<include file="Public/head" />
<title>Kame's blog</title>

<!-- 栅格系统 -->
<div class="container-fluid container">

	<div class="row">
		<div class="col-md-9">
			<!-- {:print_r($blogs)} -->
			<foreach name="blogs" item="b">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="{:U('Home/Article/view',array('id'=>$b[id]))}"><h3 class="panel-title">{$b.title}</h3></a>
					</div>
					<div class="panel-body">
						{$b[content]|html_entity_decode}
					</div>
					<div class="panel-footer text-right">
						<span class="glyphicon glyphicon-folder-open" aria-hidden="true">
							<foreach name="cate" item="c">
								<if condition="$c['id'] eq $b['category']">
									<a class="panela" href="#">{$c[cate_name]}</a>
								</if>
							</foreach>
						</span>
						<span class="glyphicon glyphicon-tags" aria-hidden="true">
							<a class="panela" href="#">{$b.label}</a>
						</span>
						author:&nbsp;<strong>kame</strong>&nbsp;
						发布时间:&nbsp;{$b[add_time]|date="Y-m-d H:i:s",###}
					</div>
				</div>

			</foreach>
			{$pager}
		</div>

		<include file="Public/right" />
	</div>
</div>